{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>Feedback Form</h1>
        
    <div class="container">
        
        <section>
            <h4>Thank you for visiting the Statue of Equality, please take 1 minute survey to share </h4>
            <br>
            <form action="" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <div>
                    <h4>Temple Services</h2>
                    <h5>Deity decoration and priest Services</h5>
                    <h4>Have you attended "Arjitha Seva?"</h2>
                    <input type="radio" name="seva" value="yes">Yes
                    <input type="radio" name="seva" value="no">No
                    <h4>Have you attended "Nithya Seva Kainkaryam?"</h2>
                    <input type="radio" name="nithya_seva" value="yes">Yes
                    <input type="radio" name="nithya_seva" value="no">No
                    
                </div>
                
                <button type="submit">Submit</button>
            </form>
        </section>
        <br>
        <footer>
            <p>Copyright &copy; 2024</p>
        </footer>
    </div>
</body>
</html>